# --- CONEXIÓN CON EL BACKEND ---
# La URL donde está escuchando tu Python Flask.
# IMPORTANTE: Si es desarrollo local suele ser http://localhost:5000/api
VITE_API_URL=aqui_va_la_url_completa_de_tu_api_backend