# --- CONEXIÓN A BASE DE DATOS ---
# Ejemplo local: mongodb://localhost:27017/n8n_consultoria_db
MONGO_URI=aqui_va_tu_string_de_conexion_a_mongodb

# --- SEGURIDAD ---
# Escribe una cadena de texto larga y aleatoria para encriptar sesiones
SECRET_KEY=aqui_va_tu_clave_secreta_inventada

# --- SERVIDOR ---
# El puerto donde correrá Flask (por defecto 5000)
PORT=5000
# True para desarrollo (ver errores), False para producción
DEBUG=True